/*********************************************************************************************************/
/************************************ YS EDITOR **********************************************************/
/*********************************************************************************************************/

:root {
  --primary-editor: #a0a0a0;
  --primary-editor-dark: #868686;

  --white-editor: #f3f3f3;
  --white-editor-true: #fff;

  --black-editor: #232323;
  --overlay: rgba(0,0,0,.6);
}

.YSeditor {
  width:100%;
  font-size:0.85rem;
  border:1px solid var(--primary-editor);
  margin-bottom: 15px;
}

#droite .YSeditor ul,#droite .YSeditor ol{
	padding:10px 0 10px 15px;
}

#droite .YSeditor h2,#droite .YSeditor h3{
	padding:15px 0 5px;
}

@font-face {
  font-family: "YSeditor";
  src: url("./YSeditor.eot");
  src: url("./YSeditor.eot?#iefix") format("embedded-opentype"),
       url("./YSeditor.woff") format("woff"),
       url("./YSeditor.ttf") format("truetype"),
       url("./YSeditor.svg#YSeditor") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "YSeditor";
    src: url("./YSeditor.svg#YSeditor") format("svg");
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: YSeditor;
  font-style: normal;
}

.icon-insertUnorderedList:before { content: "\f100"; }
.icon-quote:before { content: "\f10a"; }

.icon-bold:before { content: "\f109"; }
.icon-italic:before { content: "\f101"; }
.icon-underline:before { content: "\f104"; }
.icon-strikethrough:before { content: "\f105"; }

.icon-justifyRight:before { content: "\f106"; }
.icon-justifyCenter:before { content: "\f107"; }
.icon-justifyFull:before { content: "\f102"; }
.icon-justifyLeft:before { content: "\f103"; }

.icon-padding:before { content: "\f108"; }
.icon-link:before { content: "\f10e"; }

.icon-paint:before { content: "\f10b"; }
.icon-gear:before { content: "\f10c"; }
.icon-down:before { content: "\f10d"; }
.icon-code:before { content: "\f10f"; }
.icon-seeMore:before { content: "+"; }

hr.resume {
  clear: both;
  border-style: dashed;
  border-color: rgb(173, 173, 173);
  visibility: visible;
}

#toolBarEditor {
  display:flex;
  flex-wrap:wrap;
  min-height:40px;
  background-color:var(--primary-editor);
  justify-content: flex-start;
  top:50px;
  z-index:10000;
}

body #toolBarEditor select {
  background-color: rgba(256,256,256, .2);
  padding:0 5px;
  border:none;
  box-shadow: none;
  color: var(--white-editor);
  width:auto;
    margin: 5px;
}
#toolBarEditor option {
  background-color: var(--primary-editor);
  color: var(--white-editor);
}

div[contenteditable] {
  padding:10px;
  background-color:transparent;
}

.pdf div[contenteditable].gallery img {
  width:40px;
  height:auto;
  margin:10px;
  cursor:pointer;
  transition:all .3s;
}
div[contenteditable].gallery img {
  width:100px;
  height:auto;
  margin:5px;
  cursor:pointer;
  transition:all .3s;
}
div[contenteditable].gallery img:hover {
  filter: grayscale(1);
  opacity:.8;
}

div[contenteditable] img {
  max-width:100%;
}
.codeView .btnEditor:not(:last-child), .codeView select {
  opacity:0;
  pointer-events: none;
}
.btnEditor {
    display: block;
    width: 17px;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: var(--white-editor);
    cursor: pointer;
    transition: all .3s;
    background: transparent;
    border: 0;
}

.btnEditor:hover {
  background-color:rgba(255,255,255,.2);
}

/* KEYFRAMES */
@keyframes Fade {
  from {
    opacity:0;
  } to {
    opacity: 1;
  }
}

@keyframes fromTopCenter {
  from {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
  } to {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}

/* OVERLAY */
.overlay {
  position:fixed;
  top:0;
  left:0;
  z-index:10000;
  background-color: var(--overlay);
  cursor:pointer;
  width:100vw;
  height:100vh;
  animation-name: Fade;
  animation-duration: .4s;
  animation-fill-mode: both;
}
.editorPopup {
  animation-name: fromTopCenter;
  animation-duration: .4s;
  animation-delay: .4s;
  animation-fill-mode: both;
  position: absolute;
  top:50%;
  left:50%;
  width:400px;
  max-width:90%;
  max-height: 60vh;
  transform:translate(-50%, -50%);
  border-radius:15px;
  padding:10px;
  box-shadow: 10px 0 30px var(--overlay);
  background-color:var(--white-editor);
  cursor:default;
}

.editorPopup p {
  text-align: center;
  font-size:1.2rem;
  padding:5px;
}

.editorPopup input, .editorPopup select {
  display:block;
  width:100%;
  padding:5px;
  margin:5px 0;
}

.editorPopup [type="checkbox"] {
  display:none;
}
.editorPopup [type="checkbox"] + label {
  display:block;
  padding: 5px;
  position:relative;
  cursor:pointer;
}

.editorPopup [type="checkbox"] + label:before {
  content: '';
  display:inline-block;
  vertical-align:middle;
  width:25px;
  height:25px;
  border-radius:3px;
  background-color: rgba(0,0,0,.2);
  margin-right:10px;
}
.editorPopup [type="checkbox"] + label:after {
  content: '';
  display:inline-block;
  vertical-align:middle;
  width:12px;
  height:25px;
  border-radius:0 0 5px 0;
  border-right: solid 4px var(--primary-editor-dark);
  border-bottom: solid 4px var(--primary-editor-dark);
  transform: rotate(45deg) scale(.5);
  opacity:0;
  position:absolute;
  top:-3px;
  left:10px;
  transition:all .3s;
}
.editorPopup [type="checkbox"]:checked + label:after {
  opacity:1;
  transform: rotate(45deg);
}

.editorPopup .validLink {
  display:block;
  text-align:center;
  margin-top:10px;
  padding:10px;
  text-transform: uppercase;
  color:var(--white-editor);
  background-color: var(--primary-editor);
  cursor:pointer;
  transition:all .3s;
}
.editorPopup .validLink:hover {
  background-color: var(--primary-editor-dark);
}



.editorPopup .widthInput,
.editorPopup .marginInput {
  display:flex;
}
.editorPopup .marginInput {
  width:45%;
  display:inline-flex;
  margin-top:10px;
}
.editorPopup .marginInput:nth-child(odd) {
  margin-right:5%;
}
.editorPopup .widthInput input, .editorPopup .marginInput input {
  border-radius:10px 0 0 10px;
  border:none;
  margin:0;
}
.editorPopup .marginInput input{
  border-radius:0 10px 10px 0;
}
.editorPopup .widthInput label, .editorPopup .marginInput label {
  display:inline-block;
  border-radius:0 10px 10px 0;
  background-color:var(--primary-editor);
  color:var(--white-editor);
  padding:5px 10px;
}
.editorPopup .marginInput label {
  border-radius:10px 0 0 10px;
  min-width:60px;
  text-align: center;
}

.editorPopup .alignImage {
  display:flex;
  justify-content: space-around;
}

.editorPopup .alignImage input {
  display:none;
}
.editorPopup .alignImage input + label {
  display:inline-block;
  padding:5px 10px;
  border-radius:10px;
  border:solid 1px var(--primary-editor-dark);
  color: var(--primary-editor-dark);
  transition:all .3s;
  cursor:pointer;
}
.editorPopup .alignImage input:checked + label {
  border:solid 1px transparent;
  color: var(--white-editor);
  background-color: var(--primary-editor-dark);
}
.editorPopup .validBar {
  display:flex;
  justify-content: flex-end;
}
.editorPopup .validBar .removeImage, .editorPopup .validBar .validImage {
  display:inline-block;
  padding:5px 10px;
  margin-top:10px;
  color: var(--white-editor);
  border:none;
  cursor:pointer;
  margin: 10px 5px;
  border-radius:10px;
}

.editorPopup .validBar .validImage {
  background-color: #8bc34a;
}

.editorPopup .validBar .removeImage {
  background-color: #f44336;
}

/* COLOR PICKER */

.colorPickerElement {
  display:inline-block;
  border-radius:5px;
  height:50px;
  width:50px;
  margin:10px;
  cursor:pointer;
  box-shadow:0 0 10px var(--overlay);
  opacity:.8;
  transition:all .3s;
}

.colorPickerElement:hover {
  box-shadow:0 5px 20px var(--overlay);
  transform:translateY(-5px);
  opacity:1;
}

.customColor {
  display:flex;
}

.customColor .colorPickerElement {
  margin:0;
  border-radius: 0 5px 5px 0;
}

.customColor input {
  flex: 1;
  padding: 0 5px;
  margin:0;
}

/****************************************/
.YSeditor table{
	width:100%;
	border-collapse:collapse;
	height:100%;
	background:#fff;
}

.YSeditor table th{
	padding:5px 8px;
	height:40px;
	font-size:1.2rem;
	color:#000;
	text-align:left;
	background:var(--cta_hover-background);
}
.YSeditor h2,.YSeditor h3{clear:both}
.YSeditor table tr:nth-child(2) td{
	height:40px;
	font-weight:bold;
	background:#c5c5c5;
	color:#fff;
	font-size:1.2rem;
}

.YSeditor table td{
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
	padding:3px 10px;
}

.YSeditor table tr:nth-child(even){
	background:#f9f9f9;
}
